// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #00796b;

$color-secondary-light: #00cfff;
$color-secondary-dark: #192c3a;

$color-tertiary-light: #7f7fd5;
$color-tertiary-dark: #86fde8;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #999;
$color-accent: #28b485;
$color-accent-1: #28b485;
$color-accent-2: #66e6d7;
//FONT
$default-font-size: 1.6rem;

// GRDI

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
